.Connexion-page {
    background-color: black;
    margin: 0;
    padding: 0;
}
.connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh
}

.connexion h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.connexion_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion_profil {
    display: flex;
    flex-direction: column;
    margin: 40px;

}

.connexion_profil img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
}

.connexion_profil h2{
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.connexion_gestion {
    position: fixed;
    bottom:10%;
    left: 45%;
    background-color: red;
}

.connexion_gestion button {
    background-color: black;
    color: grey;
    border: grey solid 1px;
    padding: 10px;
}

.connexion_gestion button:hover {
    color: white;
    border: white solid 1px;
    transition: 0,2s ease;
    background-color: black;
}

.connexion_gestion h3 {
    font-size: 15px;
}