.homepage-container {
  background-color: #141414;
  color: #ffffff;
}

.homepage-banner_movie {
  position: relative;
  display: flex;
}

.homepage-banner_movie img {
  width: 100%;
  height: auto;
  object-fit:fill;
  padding: 0;
  margin: 0;
}

.homepage_movie_title_homepage {
  background-color: transparent;
}

.homepage_movie-info{
  position: absolute;
  top: 70%;
  left: 5%;
  right: 5%;
  z-index: 1;
  color: white;
  background-color: transparent;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.homepage_movie-info p {
  height: 90px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: transparent;
}

.homepage_movie-info h1 {
  background-color: transparent;
}


.homepage_button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
}

.homepage_play {
  color: black;
  background-color: white;
}

.homepage_add_playlist {
  color: white;
  background-color: #555555;
  opacity: 80%;
}

.homepage_play, .homepage_add_playlist {
  cursor: pointer;
  font-size: 25px;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 1460px) {
  .homepage_play, .homepage_add_playlist {
    width: 200px;
    font-size: 16px;
    margin-right: 2%;
    left: 5%;
  }
}

@media (max-width: 1000px) {
  .homepage_play, .homepage_add_playlist {
    width: 170px;
    font-size: 13px;
    margin-right: 2%;
    left: 0%;
  }
  .homepage_button-container {
    flex-wrap: wrap;
    left: 2%;
  }
}

@media (max-width: 576px) {
  .homepage_play, .homepage_add_playlist {
    width: 80px;
    font-size: 5px;
    margin-right: 2%;
  }
}


/* FILMS */

.homepage_categories-name h1 {
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 50px;
  }

.homepage_movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.homepage_movie {
  position: relative;
}

.homepage_movie img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.2rem;
  padding-top: 10px;
  margin: 0;
}

.homepage_movie .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.homepage_movie:hover .overlay {
  opacity: 1;
}

.homepage_movie h2 {
  font-weight: bold;
  font-size: 1rem;
margin-top: 0.5rem;
}

.homepage_movie p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: none;
}

.homepage_movie:hover p {
  display: block;
}

button {
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #f40612;
}

  .homepage_movie_info_homepage h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }