.homepage-container {
  background-color: #141414;
  color: #ffffff;
}

.homepage-banner_movie {
  position: relative;
}

.homepage-banner_movie img {
  width: 100%;
  height: 100%;
  object-fit:fill;
  padding: 0;
  margin: 0;
}

.movie-info{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  max-width: 40%;
  background-color: transparent;
}

.movie-info p {
  height: 100px;
  overflow: hidden;
}

.movie-info h1 {
  background-color: transparent;
}

.movie-info p {
  background-color: transparent;
}

.button-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 0;
  bottom: 0;
  left: 5%;
  z-index: 1;
  background-color: transparent;
}

.play {
  color: black;
  background-color: white;
  margin-right: 4%;
}

.add_playlist {
  color: white;
  background-color: #555555;
  opacity: 80%;
}

.play, .add_playlist {
  cursor: pointer;
  font-size: 25px;
  width: 250px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .play, .add_playlist {
    width: 150px;
    font-size: 10px;
    margin-right: 2%;
  }
}

@media (max-width: 576px) {
  .play, .add_playlist {
    width: 80px;
    font-size: 5px;
    margin-right: 2%;
  }
}

.categories-name h1 {
  margin-left: 2rem;
  }

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

.movie {
  position: relative;
}

.movie img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.2rem;
}

.movie .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.movie:hover .overlay {
  opacity: 1;
}

.movie h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.movie p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: none;
}

.movie:hover p {
  display: block;
}

button {
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #f40612;
}

  .movie_info_homepage h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }