.movie-page {
    color: white;
    background-color: #000000;
    padding-top: 50px;
}

.movie-page_movie-backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-page_movie-backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-page_movie-backdrop img{
    object-fit: contain;
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 70%;
}

.movie-page_movie-title h1 {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    .movie-page_movie-title h1 {
    font-size: 28px;
    padding: 8px;
    }
    }

.movie-page_launcher{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.movie-page_lecture{
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 1rem;
}

.movie-page_ba{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 1rem;
}

.movie-page_add, .movie-page_like {
    background-color: transparent;
    border-radius: 50%;
    color: white;
    border: white solid 1px;
    width: auto;
    height: auto;
    margin-right: 1rem;
}

@media (max-width: 1460px) {
    .movie-page_lecture, .movie-page_ba {
      font-size: 16px;
      margin-right: 2%;
    }
  }

.movie-page_movie-info_moviepage{
    display: block;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.movie-page_movie-genre {
    display: flex;
    padding: 10px;
}

.movie-page_movie-genre h3 {
    font-size: 20px;
    margin-left: 1rem;
}

.movie-page_movie-genre p {
    margin-left: 5px;
}

.movie-page_movie-date {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 0 1.5rem;
}

.movie-page_movie-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 10px;
  }

.movie-page_back {
  margin-left: 1rem;
  margin-top: 1rem;
}


.movie-page_icon{
    background-color: transparent;
}


@media only screen and (max-width: 1000px) {
    .movie-page_launcher, .movie-page_movie-date, .movie-page_movie-genre {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    }