* {
    color: white;
    background-color: #141414;
}

img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    margin-bottom: 3rem;
}

.movie-title {
    color: white;
    background-color: #141414;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.launcher{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.lecture{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 1rem;
}

.ba{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 1rem;
}

.add, .like {
    background-color: transparent;
    border-radius: 50%;
    color: white;
    border: white solid 1px;
    width: auto;
    height: auto;
    margin-right: 1rem;

}

.movie-info{
    display: block;
    justify-content: space-around;
    align-items: center;
}

.movie-info h3, .movie-genre h3 {
    font-size: 20px;
    margin-left: 1rem;
}

.movie-genre p{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.movie-date {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.movie-overview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.back {
  margin-left: 1rem;
  margin-top: 1rem;
}