.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: linear-gradient(to top, transparent 0%, rgb(0, 0, 0,3) 50%); 

}

.scrolled{
  background-color: black;
}

.container{
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: linear-gradient(to top, transparent 0%, rgb(0, 0, 0,3) 50%); 
}

.container .left{
  display: flex;
  align-items: center;
}

.container .left img{
  height: 25px;
  margin-right: 40px;
}


.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding-left: 30px;
  padding-right: 30%;
}

.tabs span {
  cursor: pointer;
}
.tabs span:hover {
  color: grey;
}



.right {
  display: flex;
  align-items: center;
}

.right .icon{
  margin: 0px 15px;
  cursor: pointer;
}

.right img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.right .profile .options{
  display: none;
  border-radius: 5px;
}

.right .span{
  padding: 10px;
  cursor: pointer;
}

.right .profile:hover .options{
  display: flex;
  flex-direction: column;
  position: absolute;
}